:root {
  --c1: #cddc39;
  --c2: #8bc34a;
  --hue: 300;
}

* {
  box-sizing: border-box;
  transform-style: preserve-3d;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  perspective: 100vmin;
}

.container > div {
  float: left;
  width: 100%;
}

.thanks,
.number,
.followers {
  font-size: 18vmin;
  text-align: center;
  color: var(--c1);
  height: 25vh;
  line-height: 25vh;
  text-shadow: 0 0.1vmin 0.1vmin var(--c2), 0 0.2vmin 0 var(--c2),
    0 0.3vmin 0 var(--c2), 0 0.4vmin 0 var(--c2), 0 0.5vmin 0 var(--c2),
    0 0.6vmin 0 var(--c2), 0 0.7vmin 0 var(--c2), 0 0.8vmin 0 var(--c2),
    0 0.9vmin 0.15vmin var(--c2);
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
}

.followers {
  z-index: -1;
  position: relative;
  text-shadow: 0 -0.1vmin 0.1vmin var(--c2), 0 -0.2vmin 0 var(--c2),
    0 -0.3vmin 0 var(--c2), 0 -0.4vmin 0 var(--c2), 0 -0.5vmin 0 var(--c2),
    0 -0.6vmin 0 var(--c2), 0 -0.7vmin 0 var(--c2), 0 -0.8vmin 0 var(--c2),
    0 -0.9vmin 0.15vmin var(--c2);
}

.number {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(83deg) translate3d(0vmin, 1vmin, -20vmin);
  transition: all 3s ease 0s;
  animation: spin 3s ease 0s 1;
}

.cube {
  height: calc(var(--height) * 1vmin);
  width: calc(var(--width) * 1vmin);
  position: absolute;
  transition: all 0.5s ease 0s;
}

.side {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transition: all 2s ease 0s;
  box-shadow: 0 0 0.1vmin 0 hsl(var(--hue), 60%, 60%);
}

.side:nth-of-type(1) {
  transform: translate3d(-50%, -50%, calc(var(--depth) * 0.5vmin));
  background: hsl(var(--hue), 60%, 50%);
}

.side:nth-of-type(2) {
  transform: translate3d(-50%, -50%, calc(var(--depth) * -0.5vmin))
    rotateY(180deg);
  background: hsl(var(--hue), 60%, 35%);
}

.side:nth-of-type(3) {
  width: calc(var(--depth) * 1vmin);
  transform: translate(-50%, -50%) rotateY(90deg)
    translate3d(0, 0, calc(var(--width) * 0.5vmin));
  background: hsl(var(--hue), 60%, 40%);
}

.side:nth-of-type(4) {
  width: calc(var(--depth) * 1vmin);
  transform: translate(-50%, -50%) rotateY(-90deg)
    translate3d(0, 0, calc(var(--width) * 0.5vmin));
  background: hsl(var(--hue), 60%, 55%);
}

.side:nth-of-type(5) {
  height: calc(var(--depth) * 1vmin);
  transform: translate(-50%, -50%) rotateX(90deg)
    translate3d(0, 0, calc(var(--height) * 0.5vmin));
  background: hsl(var(--hue), 60%, 25%);
}

.side:nth-of-type(6) {
  height: calc(var(--depth) * 1vmin);
  transform: translate(-50%, -50%) rotateX(-90deg)
    translate3d(0, 0, calc(var(--height) * 0.5vmin));
  background: hsl(var(--hue), 60%, 60%);
  border: 0.1vmin solid hsl(var(--hue), 60%, 60%);
}

.p-1 {
  --width: 26;
  --height: 9;
  --depth: 9;
  transform: translate3d(-34.5vmin, -8vmin, 2vmin);
}

.p-1 + .p-1 {
  transform: translate3d(-1.15vmin, -8vmin, 2vmin);
}

.p-1 + .p-1 + .p-1 {
  transform: translate3d(32.5vmin, -8vmin, 2vmin);
}

.p-2 {
  --width: 8;
  --height: 8;
  --depth: 24;
  transform: translateZ(20.25vmin) translate3d(-39.75vmin, 0.5vmin, 0vmin);
}

.p-2 + .p-2 {
  transform: translateZ(20.25vmin) translate3d(-9.05vmin, 0.5vmin, 0vmin);
}

.p-2 + .p-2 + .p-2 {
  transform: translateZ(20.25vmin) translate3d(6.85vmin, 0.5vmin, 0vmin);
}

.p-2 + .p-2 + .p-2 + .p-2 {
  transform: translateZ(20.25vmin) translate3d(21.95vmin, 0.5vmin, 0vmin);
}

.p-2 + .p-2 + .p-2 + .p-2 + .p-2 {
  transform: translateZ(20.25vmin) translate3d(37.85vmin, 0.5vmin, 0vmin);
}

.p-3 {
  --width: 8;
  --height: 8;
  --depth: 8;
  transform: translate3d(-23.4vmin, 2.75vmin, 13vmin);
}

.p-4 {
  --width: 12.65;
  --height: 6.5;
  --depth: 6;
  transform: translate3d(-21.975vmin, 21vmin, 22.65vmin);
}

.p-5 {
  --width: 20.5;
  --height: 6;
  --depth: 6;
  transform: translate3d(-26.75vmin, 16vmin, 35vmin);
}

.p-5 + .p-5 {
  transform: translate3d(-0.95vmin, 15vmin, 35vmin);
}

.p-5 + .p-5 + .p-5 {
  transform: translate3d(25.625vmin, 14.75vmin, 35vmin);
  --width: 20.65;
}

.container:hover .number {
  transform: rotateX(443deg) rotateY(0deg) translate3d(0vmin, 1vmin, -20vmin);
  transition: all 3s ease 0s;
}

@keyframes spin {
  0% {
    transform: rotateX(83deg) translate3d(0vmin, 1vmin, 100vmin);
  }
  100% {
    transform: rotateX(443deg) translate3d(0vmin, 1vmin, -20vmin);
  }
}
