@import url("https://fonts.googleapis.com/css2?family=Norican&display=swap");

body {
  font-size: 1.1rem;
  font-family: sans-serif;
}

article {
  width: 80vw;
  margin: 0 auto;
  padding: 1em;
  column-count: 3;
  column-width: 350px;
}

article > p {
  color: #555;
}

aside p {
  font-size: 1.65em;
  font-family: "Norican", cursive;
  float: left;
  width: 60%;
  margin: 0 5% 5% 0;
  background: linear-gradient(45deg, #fff0 15%, #eee, #fff0 85%);
  padding: 1.5em;
  box-sizing: border-box;
  position: relative;
  text-indent: 1em;
  border-radius: 0.1em;
  text-shadow: -1px -1px 1px #222, 0px 0px 1px #fffc;
  --bd: #666;
  color: var(--bd);
  color: #fff5;
}

aside p:before,
aside p:after {
  content: "\201C";
  text-indent: 0.33em;
  border-radius: 0.025em;
  left: -0.06em;
  top: -0.06em;
  position: absolute;
  height: 0.8em;
  width: 0.8em;
  font-size: 4em;
  line-height: 1.65em;
  --cxy: calc(0.1em + 1px);
  --cg1: -96deg;
  --cg2: -6deg;
  --cg1x: 1em;
  --cg1y: calc(0.1em + 1px);
  --cg2x: calc(0.1em + 1px);
  --cg2y: 1em;
  background: conic-gradient(
      from var(--cg1) at var(--cg1x) var(--cg1y),
      #fff0 0 0.5deg,
      var(--bd) 1deg 1.5deg,
      #fff0 2deg 2.5deg,
      var(--bd) 3deg 3.5deg,
      #fff0 4deg 4.5deg,
      var(--bd) 5deg 5.5deg,
      #fff0 6deg 6.5deg,
      var(--bd) 7deg 7.5deg,
      #fff0 8deg 8.5deg,
      var(--bd) 9deg 9.5deg,
      #fff0 10deg 10.5deg,
      var(--bd) 11deg 11.5deg,
      #fff0 12deg 12.5deg
    ),
    conic-gradient(
      from var(--cg2) at var(--cg2x) var(--cg2y),
      #fff0 0 0.5deg,
      var(--bd) 1deg 1.5deg,
      #fff0 2deg 2.5deg,
      var(--bd) 3deg 3.5deg,
      #fff0 4deg 4.5deg,
      var(--bd) 5deg 5.5deg,
      #fff0 6deg 6.5deg,
      var(--bd) 7deg 7.5deg,
      #fff0 8deg 8.5deg,
      var(--bd) 9deg 9.5deg,
      #fff0 10deg 10.5deg,
      var(--bd) 11deg 11.5deg,
      #fff0 12deg 12.5deg
    ),
    repeating-radial-gradient(
      circle at var(--cxy) var(--cxy),
      var(--bd) 0.035em,
      #fff0 calc(0.035em + 1px) 0.045em,
      var(--bd) calc(0.045em + 1px) 0.065em
    );
  background-size: calc(100% - 0.25em) 100%, 100% calc(100% - 0.25em),
    0.22em 0.22em;
  background-repeat: no-repeat;
  background-position: 100% 50%, 50% 100%, 0 0;
}

aside p:after {
  content: "\201D";
  left: inherit;
  top: inherit;
  right: -0.06em;
  bottom: -0.06em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  line-height: 0.35em;
  text-indent: -0.6em;
  --cg1: 84deg;
  --cg2: 174deg;
  --cg1x: -0.5em;
  --cg1y: calc(0.675em + 1px);
  --cg2x: 0.7em;
  --cg2y: calc(-0.5em + 1px);
  background-position: 0% 50%, 50% 0%, 100% 100%;
}

aside ~ aside p {
  width: 100%;
}

a.image img {
  width: 90%;
  margin: 1% 0 5% 5%;
  position: relative;
  filter: sepia(0);
}

a.image {
  float: right;
  width: 50%;
  position: relative;
  display: block;
}

a.image:after {
  content: "donquijotepasoapaso.wordpress.com";
  position: absolute;
  font-size: 0.5em;
  right: 5%;
  color: #999;
  top: calc(100% - 1.5em);
}

a.image:hover:after {
  color: #333;
}

.more {
  color: #0008;
  font-size: 0.8em;
  border-top: 2px dotted #0002;
  border-bottom: 2px dotted #0002;
  padding: 1em;
}

@media only screen and (min-width: 1357px) {
  aside p {
    width: 100%;
  }
  a:after {
    right: 0;
  }
  a.image {
    width: 100%;
    margin: 5% 0;
  }
  a.image img {
    width: 100%;
    margin: 0;
  }
  a.image:after {
    top: calc(100% - 0.25em);
    right: 1%;
  }
}

@media only screen and (min-width: 898px) and (max-width: 1200px) {
  aside p {
    width: 100%;
  }
  a.image {
    width: 100%;
    margin: 5% 0;
  }
  a.image img {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  aside p {
    width: 100%;
  }
}
